load useful libraries

In [76]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

load train and test dataframes

In [48]:
train_df = pd.read_csv('data/train.csv', index_col='id')
test_df = pd.read_csv('data/test.csv', index_col='id')

see that some types are objects:

In [82]:
train_df.dtypes

product_code       object
loading           float64
attribute_0        object
attribute_1        object
attribute_2         int64
attribute_3         int64
measurement_0       int64
measurement_1       int64
measurement_2       int64
measurement_3     float64
measurement_4     float64
measurement_5     float64
measurement_6     float64
measurement_7     float64
measurement_8     float64
measurement_9     float64
measurement_10    float64
measurement_11    float64
measurement_12    float64
measurement_13    float64
measurement_14    float64
measurement_15    float64
measurement_16    float64
measurement_17    float64
failure             int64
dtype: object

See `produt_code` has no overlap between test and train, and hence drop column.

Overlab between `attribute_0` and `attribute_1` is not full, so we drop that too.

In [89]:
uniques = lambda df: list(map(lambda i: pd.unique(df[df.columns[i]]), [0, 2, 3]))
uniques(train_df), uniques(test_df)

([array(['A', 'B', 'C', 'D', 'E'], dtype=object),
  array(['material_7', 'material_5'], dtype=object),
  array(['material_8', 'material_5', 'material_6'], dtype=object)],
 [array(['F', 'G', 'H', 'I'], dtype=object),
  array(['material_5', 'material_7'], dtype=object),
  array(['material_6', 'material_7', 'material_5'], dtype=object)])

In [90]:
dropped_train_df = train_df.drop(train_df.columns[[0, 3]], axis=1)
dropped_test_df = test_df.drop(test_df.columns[[0, 3]], axis=1)

In [102]:
pd.get_dummies(dropped_train_df)
# dropped_train_df

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure,attribute_0_material_5,attribute_0_material_7
id,,,,,,,,,,,,,,,,,,,,,
0,80.10,9,5,7,8,4,18.040,12.518,15.748,19.292,...,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0,0,1
1,84.89,9,5,14,3,3,18.213,11.540,17.717,17.893,...,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0,0,1
2,82.43,9,5,12,1,5,18.057,11.652,16.738,18.240,...,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0,0,1
3,101.07,9,5,13,2,6,17.295,11.188,18.576,18.339,...,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0,0,1
4,188.06,9,5,9,2,8,19.346,12.950,16.990,15.746,...,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,158.95,6,9,6,16,4,16.301,13.259,18.068,15.505,...,17.942,10.112,15.795,18.572,16.144,NaN,729.131,0,0,1
26566,146.02,6,9,10,12,8,17.543,NaN,17.984,19.078,...,20.564,10.234,14.450,14.322,13.146,16.471,853.924,0,0,1
26567,115.62,6,9,1,10,1,15.670,11.535,16.778,18.385,...,17.476,8.668,15.069,16.599,15.590,14.065,750.364,0,0,1
26568,106.38,6,9,2,9,4,18.059,NaN,16.918,18.101,...,17.814,14.928,16.273,15.485,13.624,12.865,730.156,0,0,1
26569,131.20,6,9,6,19,1,18.034,11.431,16.918,17.129,...,19.703,11.006,15.875,13.366,16.527,17.890,602.354,0,0,1